body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
  }

.resume-box{
    color: black;
    background-color: lightslategray;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.resume-header {
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add some space below the header */
}

.resume-header h2 {
    margin: 0; /* Remove default margin */
}

.resume-header p {
    margin: 5px 0; /* Add some space between the lines */
}

nav {
  display: flex;
}

nav a{
  flex: 1
}

